h1,
p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  background-color: #5c94ce;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid #354a5f;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 2px solid #354a5f;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #354a5f;
  color: white;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:hover {
  background-color: #cacacb;
}

td {
  text-align: center;
  padding: 8px;
}

h1 {
  padding: 50px;
  text-align: center;
  background: #5c94ce;
  color: white;
  font-size: 60px;
}

@keyframes ezy-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
          
.box {
  width: 100px;
  height: 100px;
  background-color: #EB455F;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  z-index: 1;
}

.outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}


.ezy-spinning-dots-loader {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 5vh;
}
.ezy-spinning-dots-loader div {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  animation: ezy-spin 1.2s linear infinite;
}
.ezy-spinning-dots-loader div:nth-child(1) {
  animation-delay: 0s;
  transform: rotate(0deg);
}
.ezy-spinning-dots-loader div:nth-child(2) {
  animation-delay: 0.4s;
  transform: rotate(120deg);
}
.ezy-spinning-dots-loader div:nth-child(3) {
  animation-delay: 0.8s;
  transform: rotate(240deg);
}
@keyframes ezy-spin {
  0% {
      transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  100% {
      transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}

.outer::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0) 46%,
    rgba(255,255,255,1) 50%,
    rgba(0,0,0,0) 54%
  );
  height: 500px;
  width: 500px;
  position: absolute;
  animation: ezy-rotate 8s linear infinite;
  z-index: 0;
}

.ezy-spring-button {
  /* Variables */
 --button_radius: 0.95em;
 --button_color: #e8e8e8;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border-bottom: 3px solid  var(--button_color);
 border-radius: var(--button_radius);
}

.ezy-spring-button .button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

.ezy-spring-button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

.ezy-spring-button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}